<!DOCTYPE html>
<html lang="en">

<head>
    {% include "common/_meta.html" %}
    <!-- Css -->
    <link rel="stylesheet" media="all" href="/css/main.css"> {% block css %} {% endblock %}
</head>

<body>
    <div class="page-header">
        {% include "common/_header.html" %}
    </div>
    <!-- body -->
    <div class="page-body">
        {%block body%} {%endblock %}
    </div>
    <div class="page-footer">
        {% include "common/_footer.html" %}
    </div>

    <!-- Javascript -->
    <script src="//static.huizecdn.com/js/libs/jquery/1.8.0/jquery.min.js"></script>
    {% block js %} {% endblock%}

</body>

</html>